body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

code {
  font-family: var(--font-mono);
  background-color: var(--card-background);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  color: var(--accent-color);
}